In [9]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler 
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder

In [4]:
train = pd.read_csv("SalaryData_Train(1).csv")
test = pd.read_csv("SalaryData_Test(1).csv")

In [5]:
train.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
test.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [8]:
col = ['workclass','education','maritalstatus','occupation','relationship','race','sex','native']

In [10]:
NUM = LabelEncoder()
for i in col:
    train[i] = NUM.fit_transform(train[i])
    test[i] = NUM.fit_transform(test[i])

In [11]:
train.head(5)

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,<=50K
1,50,4,9,13,2,3,0,4,1,0,0,13,37,<=50K
2,38,2,11,9,0,5,1,4,1,0,0,40,37,<=50K
3,53,2,1,7,2,5,0,2,1,0,0,40,37,<=50K
4,28,2,9,13,2,9,5,2,0,0,0,40,4,<=50K

In [13]:
X_train = train.iloc[:, 0:13]
Y_train = train.iloc[:,13]
X_test = test.iloc[:, 0:13]
Y_test = test .iloc[:, 13]

In [15]:
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return (x)
X_train = norm_func(X_train)
X_test =  norm_func(X_test)

In [20]:
model_linear = SVC(kernel='linear')
model_linear.fit(X_train, Y_train)
pred_test_linear = model_linear.predict(X_test)
np.mean(pred_test_linear==Y_test)

0.8098273572377158

In [22]:
model_poly = SVC(kernel = "poly")
model_poly.fit(X_train,Y_train)
pred_test_poly = model_poly.predict(X_test)

np.mean(pred_test_poly==Y_test)

0.8435590969455511

In [23]:
model_poly = SVC(kernel = "rbf")
model_poly.fit(X_train,Y_train)
pred_test_poly = model_poly.predict(X_test)

np.mean(pred_test_poly==Y_test)

0.8432934926958832